.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainNav {
  display: flex;
  justify-content: center;
  border-bottom: black;
  background: lightskyblue;
}

.mainNav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

.mainNav ul:first-child{
  font-size: calc(10px + 1.5vmin);
  font-weight: bold;
}

.mainNav ul:last-child{
  font-size: calc(5px + 1.5vmin);
  font-weight: bold;
}

.mainNav ul li{
  padding-left: calc(5px + 0.5vmin);
}

.mainNav a{
  text-decoration-line: none;
  color: darkslategray;
}

.main-box {
  display: flex;
  justify-content: center;
}