@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainNav-container{
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'LeeSeoyun', sans-serif;
}

.mainNav-container>div{
    width: 100%;
    text-align: center;
}

.mainNav-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainNav-link-box{
    font-size: 3.5vh;
}

.mainNav-link-box>a{
    padding: 0 10px 0 10px;
    text-decoration: none;
    font-size: 3.5vh;
    color: #91bee3;
}

/*스크롤 css*/
/* 스크롤바 전체 */

::-webkit-scrollbar:vertical {
    display: none;
}
::-webkit-scrollbar {
    height: 25px;
    background: none;
}
/*스크롤바 움직이는 영역*/
::-webkit-scrollbar-track {
    background: #c9dcf9; /* 트랙의 배경색 */
    border-radius: 10px; /* 트랙의 모서리 둥글게 */
}
/* 스크롤바의 핸들 (스크롤바) */
::-webkit-scrollbar-thumb {
    background: #ffffff; /* 핸들의 색상 */
    border-radius: 10px; /* 핸들의 모서리 둥글게 */
    border: 1px solid #91bee3;
}
::-webkit-scrollbar-thumb:hover {
    cursor: url('../public/cursor3.png') 14 14, auto;
}


option:focus{
    background: #c9dcf9;
}