@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Noto+Sans+KR:wght@100..900&display=swap');

.join-container {
    border : 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-table {
    border : 1px solid black;
    margin : auto;
}

.join-table tr>td{
    padding-bottom: 3.5vh;
    width: 10vw;
    font-family: 'LeeSeoyun', sans-serif;
    font-size: 2vw;
    color: grey;
}

.join-table tr>td:first-child{
    text-align: center;
}

.join-table input {
    margin: 0;
    padding: 0;
    width: 18vw;
    height: 5vh;
    border : 2px solid #c9dcf9;
    border-radius: 5px;
    font-family: 'LeeSeoyun', sans-serif;
    text-align: center;
    font-size: 3.5vh;
    color: grey;
}

#id, #pwd, #chkPw, #name, #birth, #add1 {
    width: 25vw;
    font-size: 3.5vh;
}

#add2, #add3{
    width: 12.25vw;
    font-size: 3.5vh;
}

#birth{
    text-align: center;
}

.join-table button {
    font-family: 'LeeSeoyun', sans-serif;
    border: none;
    border-radius: 5px;
    background: #c9dcf9;
    width: 7vw;
    height: 5vh;
    font-size: 3vh;
    color: grey;
}

body {
    cursor: url('../public/cursor.png') 14 14, auto;
}

body button:hover, a:hover, select:hover, option:hover{
    cursor: url('../public/cursor3.png') 14 14, auto;
}

body input:hover, input:focus{
    cursor: url("../public/cursor2.png") 14 14, auto;
}

.join-table>thead>tr>td {
    font-size: 5vh;
    font-weight: 500;
}