.search-container{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.search-container>div{
    padding: 0 10px 0 0;
}

.search-letter-box{
    font-family: 'LeeSeoyun', sans-serif;
    font-size: 3.5vh;
    color: grey;
}

.search-input-box>input, .search-input-box>button, .search-input-box>select{
    margin-left: 5px;
    height: 5vh;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-family: 'LeeSeoyun', sans-serif;
    font-size: 3vh;
    color: grey;
    border: 3px solid #c9dcf9;
    border-radius: 5px;
}

.search-input-box>input {
    width: 30vw;
}

.search-input-box>button {
    background: #c9dcf9;
    width: 7vw;
}

.search-input-box>select {
    width: 12vw;
}

