.menu-container{
    width: 100%;
    padding: 4% 0 1% 0;
    font-family: 'LeeSeoyun', sans-serif;
    font-size: 4.5vh;
    color: grey;
}

.menu-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-box>table{
    width: 40%;
    table-layout: fixed;
    text-align: center;
    border-spacing: 15px;
}
.menu-box>table>tbody>tr>td{
    border-radius: 10px;
    height: 7vh;
    background: #c9dcf9;
}

.menu-box>table a{
    text-decoration: none;
    color: grey;
}